<div class="contrainer">&nbsp;&nbsp;&nbsp;</div>

<ul class="text-light">
<li class="animated fadeInRight"><h3>Create a study plan :</h3>
<p>Your own study plan will vary based on your familiarity with Java, your personal and
  work schedule, and your learning abilities. The idea is to create a plan early on that has
  self-imposed deadlines that you can follow throughout the studying process. When someone
  asks how you’re doing preparing for the exam, you should have a strong sense of what
  you’ve learned so far, what you’re currently studying, and how many weeks you need to be
  prepared to the take the exam.
  Your own study plan will vary based on your familiarity with Java, your personal and
  work schedule, and your learning abilities. The idea is to create a plan early on that has
  self-imposed deadlines that you can follow throughout the studying process. When someone
  asks how you’re doing preparing for the exam, you should have a strong sense of what
  you’ve learned so far, what you’re currently studying, and how many weeks you need to be
  prepared to the take the exam.</p>
</li>
<li class="animated fadeInRight"><h3>Identifying Your Weakest Link
  </h3>
<p>The best advice we can give you to do well on the exam is to practice writing sample applications
  that push the limits of what you already know, as much and as often as possible.
  For example, if the previous samples with float values were too diffi cult for you, then you
  should spend even more time studying numeric promotion and casting expressions.
  Prior to taking the OCA exam, you may already be an experienced Java developer,
  but there is a difference between being able to write Java code and being a certified Java developer. For example, you might go years without writing a ternary expression or using
  an abstract class, but that does not mean they are not important features of the Java language.
  You may also be unaware of some of the more complex features that exist within
  the Java language. On top of that, there are new features to Java 8, such as lambda expressions
  and default interface methods, which as of this writing very few professional software
  developers are using.</p>
</li>
  <li class="animated fadeInRight"><h3>Creating and Running Sample Applications</h3><p>Although some people can learn Java just by reading a textbook, that’s not how we
    recommend that you study for a certifi cation exam. We want you to be writing your own
    Java sample applications throughout this book so that you don’t just learn the material,
    but that you understand the material as well. For example, it may not be obvious why
    the following line of code does not compile, but if you try to compile it yourself, the Java
    compiler will tell you the problem.</p></li>

</ul>

