<nav class="navbar navbar-expand-lg bg-light">
  <a class="navbar-brand animated bounceInRight mr-auto" routerLink="/home"><h3>Java Certification Training</h3></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-lg fa-bars" style="color: #007BFF;"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav animated bounceInLeft ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tips">Study Tips</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/oca">OCA Review</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ocp">OCP Review</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
          <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/" (click)="authService.logout()">Logout</a>
        </li>
