#jumb{
  border-radius: 10px;
  padding-top:25px;
  padding-bottom:10px;
  margin-bottom:20px;
  margin-top:20px;

}

.col-md-2.curseur {
  cursor: pointer;
}
ul li { float: left; margin-right: 30px;list-style-type: none;}
.bluebox { float: left; width: 15px; height: 15px; background-color: #007bff;}
.redbox { float: left; width: 15px; height: 15px; background-color: #ffc107;}
.greybox { float: left; width: 15px; height: 15px; background-color: #868e96;}

#checkStyle {

    font-size:25px;
    color:forestgreen;

  }
#crossStyle {

  font-size:25px;
  color:red;

}
