.btn-round{
  border-radius: 20px;
}
.btn-round-sm{
  border-radius: 15px;
}
.btn-round-xs{
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

#jumb{
  border-radius: 10px;
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom:20px;
}

