<div class="jumbotron" style="color: white;">
  <h2>Oracle Certified Associate / Programmer Sample Exams :</h2>
  <p>This App is developed to help you prepare and achieve the Oracle Certification for Java.
    Start reviewing exam essentials and take a free trial test exam or sign up and discover more features of the app </p>
</div>
<div class="row">
  <div class="col-6 ">
    <h2 style="color: white;">OCA Exam Summary </h2>

    <a href="#" class="d-inline-block mw-80 mb-2 h-70">
      <img class="img-fluid img-thumbnail" src="./assets/ocajp8.jpg" alt="OCA">
    </a>

    <p><a class="btn btn-secondary btn-round" href="#" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 ">
    <h2 style="color: white;">OCP Exam Summary </h2>

    <a href="#" class="d-inline-block mw-80 mb-2 h-70">
      <img class="img-fluid img-thumbnail" src="./assets/ocajp8.jpg" alt="OCA">
    </a>

    <p><a class="btn btn-secondary btn-round" href="#" role="button">View details »</a></p>
  </div><!--/span-->
</div>




