
<div class="jumbotron" id="jumb" >
  <h2>Oracle Certified Associate / Programmer Sample Exams :</h2>
  <p>This App is developed to help you prepare and achieve the Oracle Certification for Java.
    Start reviewing exam essentials and take a free trial test exam or sign up and discover more features of the app </p>
  <div class="row">
    <div class="col-md-4">
      <p><a  class="btn btn-primary btn-lg btn-round text-light" (click)="openModal(configTest)" role="button"><i class="fa fa-play-circle" aria-hidden="true"></i>
        Pass an Exam »</a></p>
    </div>
    <div class="col-md-4">
      <p><a *ngIf="authService.isLoggedIn()" class="btn btn-primary btn-lg btn-round text-light" routerLink="/" role="button"><i class="fa fa-book" aria-hidden="true"></i>
        Exam History »</a></p>

    </div>

  </div>


</div>
<div class="row">
  <div class="col-6">
    <h3 style="color: white;">OCA Exam Summary </h3>

    <a routerLink="/oca" class="d-inline-block mw-80 mb-2 h-70">
      <img class="img-fluid img-thumbnail" src="./assets/ocajp8.png" alt="OCA">
    </a>

    <p><a class="btn btn-light btn-round" routerLink="/oca" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 ">
    <h3 style="color: white;">OCP Exam Summary </h3>

    <a routerLink="/ocp" class="d-inline-block mw-80 mb-2 h-70">
      <img class="img-fluid img-thumbnail" src="./assets/ocpjp8.png" alt="OCP">
    </a>

    <p><a class="btn btn-light btn-round" routerLink="/ocp" role="button">View details »</a></p>
  </div><!--/span-->
</div>



<ng-template #configTest let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title">Test Configuration</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fieldset [disabled]="!authService.isLoggedIn()">



        <!--TIMER INPUT-->
        <div class="form-group row">
          <div class="form-check col-md-3">
            <input type="checkbox" id="timerCheck" [(ngModel)]="testConfig.timerOn">
            <label class="form-check-label mr-sm-2" for="timerCheck">Enable Timer</label>
          </div>

          <div class="col-md-4"> <div *ngIf="testConfig.timerOn"><ngb-timepicker id="time" [(ngModel)]="time" [formControl]="ctrl" required></ngb-timepicker>
            <div class="small form-text text-danger" *ngIf="!ctrl.valid">
              <div *ngIf="ctrl.errors['tooLong']">Maximum duration : 2h30</div>
            </div></div>
          </div>
        </div>

        <!--SHUFFLE INPUT-->
        <div class="form-group row">
        <div class="form-check col-md-3">  <input type="checkbox" id="shuffle" [(ngModel)]="testConfig.shuffleOptions">
          <label class="form-check-label " for="shuffle">Shuffle questions </label></div>
        </div>


      <!--TEST TYPE SELECT INPUT-->
        <div class="form-group row">
          <div class="form-check form-check-inline">
            &nbsp;&nbsp;&nbsp;&nbsp;Test Type : &nbsp;<br>
            <label class="form-check-label">
              <input (click)="chooseTestType('OCA')" class="form-check-input" type="radio" name="inlineRadioOptions" id="OCA" value="OCA"> OCA
            </label>
          </div>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input (click)="chooseTestType('OCP')" class="form-check-input" type="radio" name="inlineRadioOptions" id="OCP" value="OCP"> OCP
            </label>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <select class="custom-select " id="inlineFormCustomSelect"(change)="changeTest()" [(ngModel)]="selectedTest">
              <option *ngFor="let test of ocapDTO; let i = index" [value]="this.ocapDTO[i].testId">{{ocapDTO[i].testName}}</option>

            </select>

          </div>

        </div>


      <div class="form-group row">
        <div class="form-check ">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="checkbox" class="form-check-input" id="onlyChapters" [(ngModel)]="testConfig.takeOnlyChapters">
          <label class="form-check-label" for="onlyChapters"> Take only these chapters</label>

          <select *ngIf="testConfig.takeOnlyChapters" class="custom-select" multiple [(ngModel)]="selectedChapters">
            <option *ngFor="let chapter of chapters" [value]="chapter.chapterId">{{chapter.chapterName}}</option>
          </select>
        </div>
      </div>




      <div class="form-group row">
        <div class="form-check ">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="checkbox" class="form-check-input" id="questionRange" [(ngModel)]="testConfig.questionRange">
          <label class="form-check-label" for="questionRange">Take question range &nbsp;</label>

        </div>
        <div class="form-inline" *ngIf="testConfig.questionRange">

          <label for="firstQuestion" class="form-label">from &nbsp;</label>

          <input class="form-control form-control-sm" type="number" [(ngModel)]="testConfig.firstQuestion" min="1" max="65" id="firstQuestion">
          &nbsp;To&nbsp;
          <input class="form-control form-control-sm" type="number" [(ngModel)]="testConfig.lastQuestion" min="1" max="65" id="lastQuestion">

        </div>



      </div>






    </fieldset>

    <div *ngIf="!authService.isLoggedIn()"> <a routerLink="/login" (click)="c('Close click')">Login</a><a routerLink="/signup" (click)="c('Close click')">/register</a> to enable test configuration or .
      <button type="button" class="mr-0 btn btn-primary" routerLink="/exam" (click)="c('Close click')" > Try this test </button></div>





  </div>
  <div class="modal-footer justify-content-center">

    <button type="button" class="btn btn-outline-success"(click)="configurateTest()" [disabled]="!authService.isLoggedIn()" routerLink="/exam">
      Begin Test</button>
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Back</button>
  </div>


</ng-template>
