<div class="row">
  <div class="col-md-12 text-center user-login-header">
    <h1>Login Form</h1>
  </div>
</div>
<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">  
<div class="row">
  <div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center" style="margin: auto;">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
        <img src="../../../assets/businessman.png">
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
        <div *ngIf="invalidLogin" class="alert alert-danger">
          Invalid username and/or password
        </div>
        <input required type="text" class="form-control" ngModel name="username" #username="ngModel" placeholder="User Name"  id="usr">
        <div class="alert alert-warning" *ngIf="username.touched && !username.valid">User Name is required</div>
        <input  required type="password" class="form-control" ngModel name="password" #password="ngModel" placeholder="Password"  id="pwd">
        <div class="alert alert-warning" *ngIf="password.touched && !password.valid">Password is required</div>
        <button class="btn btn-defualt" [disabled]="!f.valid">Login</button>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 last-part">
        <p>Not registered?<a href="#" routerLink="/signup" > Create an account</a></p>
      </div>
    </div>
  </div>
</div>
</form>